img {
  height: 450px;
  width: 550px;
  border: 5px double #655; 
}
h1 {
  text-align: center;
  Font-Family: Brush Script MT;
}
h3 {
  text-align: center;
  Font-Family: Brush Script MT;
}
body {
  text-align: center;
  background-color: coral;
}